{% extends 'base.html.twig' %}

{% block title %}Modifier un article!{% endblock %}



{% block body %}

    {{form_start(form)}}
        {{form_widget(form)}}

            <a href="{{ path('supprimer', { id:actualite.id }) }}" class="btn btn-outline-danger">Supprimer</a>
            <button type="submit" class="btn btn-primary">Valider</button>    
            

    {{form_end(form)}}

{% endblock %}



