<footer class="container-fluid justify-content-center footer">
    
    <!-- LIGNE 1 : COORDONNEES NEWSLETTER HORAIRES -->
    <div class="row justify-content-between mt-5 mb-5 coordonnees_news_horaires">
    
        <!-- NOUS TROUVER -->
        <div class="trouver">
        
            <h5>Nous trouver&nbsp;<i class="fas fa-map-marker-alt"></i></h5>
            <p>28 rue Dode à Voiron
            <br/>tél.&nbsp;<a href="tel:0300000000">03 00 00 00 00</a></p>
        
        </div>

        <!-- NEWSLETTER -->
        <div class="newsletter">
        
            <h5>Newsletter</h5>

            <!-- FORMULAIRE NEWSLETTER -->
            <form action="" method="GET">
            
                <input type="email" class="email" placeholder="Votre email"/>
                <button type="submit">Valider</button>
            
            </form>

            <!-- BOUTON LIEN PAGE RESERVATION RENDEZ-VOUS -->
            <button class="btn_redirection">
                <a href="{{ path('contact') }}">contactez-nous&nbsp;&nbsp;<i class="fas fa-arrow-right"></i></a>
            </button>
        
        </div>
        
        <!-- NOS HORAIRES -->
        <div class="horaires">
        
            <h5><i class="fas fa-calendar-alt"></i>&nbsp;Nos horaires</h5>
            <p>Du lundi au vendredi<br/>de 9h00 à 19h00</p>
        
        </div>

    
    </div>

    <!-- LIGNE 2 : POLITIQUE, MENTION, FOLLOW -->
    <div class="row mentions_politiques_follow">

        <div class="row justify-content-between align-items-center mentions_politiques">
            <!-- LIENS POLITIQUE, MENTIONS, COPYRIGHT -->
            <a href="#">Politique de confidentialité</a>
            <a href="#">Mentions légales</a>
            <a href="#">© Copyright - Emotion'elles</a>
        </div>

        <!-- FOLLOW -->
        <div class="row justify-content-end follow">

            <!-- FACEBOOK -->
            <a href="https://www.facebook.com/emotion.elles/" target="_blank"><i class="fab fa-facebook-square"></i></a>
            
            <!-- INSTAGRAM -->
            <a class="ml-4 mr-4"href="https://www.instagram.com/emotion.elles/" target="_blank"><i class="fab fa-instagram"></i></a>
            
            <!-- LINKEDIN -->
            <a href="https://www.linkedin.com/company/emotion-elles/" target="_blank"><i class="fab fa-linkedin"></i></a>
        
        </div>
    
    </div>

</footer>