<header class="container-fluid">
    
    <nav class="navbar mt-3 navbar-expand-lg stroke">

        <!-- LOGO -->
        <a class="navbar-brand logo" href="#">Emotion'elles</a>
    
        <!-- MENU BURGER -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        
            <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
        
        </button>
    
        <!-- MENU -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
            <!-- NAVIGATION -->
            <ul class="navbar-nav menu">
                
                <li class="nav-item">
                    <a class="nav-link" href="#">Accueil</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#">A propos</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#">Mes réalisations</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Actualités</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Réservation</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="{{ path ('contact') }}">Contact</a>
                </li>
            
            </ul>

        </div>
        
        <!-- MON COMPTE / CONNEXION / DECONNEXION -->
        <div>
            
            <ul class="navbar-nav mr-auto">
                
                {# <li class="nav-item">
                    <a class="nav-link" href="{{ path('moncompte') }}">Mon compte</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('deconnexion') }}">Déconnexion</a>
                </li> #}

                <li class="nav-item">
                    <a class="nav-link" href="#">Connexion</a>
                </li>
            
            </ul>
    
        </div>

    </nav>
    
</header>