{% extends 'base.html.twig' %}

{% block title %}Contact {% endblock %}

{% block body %}

<div class="modal-body d-flex flex-row justify-content-around mb-0 p-3 contact">
        
    <!-- IMAGE GAUCHE POP UP -->
    <div class="img_popup"></div>

    <!-- FORMULAIRE DE CONTACT -->
    <div class="deja_inscrit d-flex flex-column justify-content-center">
        
        <h4 class="mb-4"><span>Une demande particulière?</span>&nbsp;&nbsp;On vous écoute!</h4>

        <form action="" method="POST">

           <div class="row pt-2 pb-2">
               
              <div class="col-6 p-0">

                <!-- NOM -->
                <label for="firstname" class="mt-2">Votre nom</label>
                <input type="text" name="firstname" id="firstname" class="form-control input" placeholder="votre nom" required autofocus/>
              
              </div>

              <div class="col-6 p-0 pl-2">

                <!-- PRENOM -->
                <label for="lastname" class="mt-2">Votre prénom</label>
                <input type="text" name="lastname" id="lastname" class="form-control input" placeholder="votre prénom" required autofocus/>
              
              </div>

            </div>

            <div class="row pt-2 pb-2">
               
              <div class="col-3 p-0">

                <!-- NUMERO DE TELEPHONE -->
                <label for="registration_form_plainPassword" class="mt-2">Votre numéro</label>
                <input type="text" name="registration_form_[plainPassword]" id="registration_form_plainPassword" class="form-control input" required placeholder="votre numéro"/>
              
              </div>

              <div class="col-9 p-0 pl-2">
                
                <!-- EMAIL -->
                <label for="registration_form_email" class="mt-2">Votre email</label>
                <input type="email" name="registration_form_[email]" id="registration_form_email" class="form-control input" required placeholder="emotionelle@emotionnelles.com"/>

              </div>

            </div>

            <!-- MESSAGE -->
            <label for="reservation_motif" class="mt-2">Votre message</label>
            <textarea rows='3' name="reservation_[motif]" id="reservation_motif" class="form-control input" required placeholder="votre message"></textarea>

            <div class="checkbox mt-3 mb-3 d-flex align-items-center justify-content-between">

                <button class="btn btn_menu btn_connexion" type="submit">M'inscrire</button>

            </div>

        </form>
    
    </div>

</div>

{% endblock %}
