<header>
   Bonjour emotionnelles
   
</header>

{% block body %}{% endblock %}

<div class="container" style="color: blue;">


</div>

<footer 
<hr>
 
</footer>

{# ce base est relie a contactemailtwig: la base html ou nous pouvons apporter des modifications du contenu au blog contact pour personnalisé le 
contenu de la page message
A partir de ce fichier twig :base.emailtwig, nous pouvons créer une page html personnalisé.
#}