{# Ce fichié est relié a contactemailtwig: la base html ou nous pouvons apporter des modifications du contenu au blog contact pour personnalisé le contenu de la page message. À partir de ce fichier twig :base.emailtwig, nous pouvons créer une page html personnalisé. #}

<header>
   
   <h4>Emotion'elles - Tapissier décorateur à Voiron</h4>
   
</header>


<div class="container">
   
   {% block body %}{% endblock %}

</div>

<footer>

   <hr>

   <p>Nous trouver : 28 rue de Dode à Voiron - tél. 03 88 88 88 88 | Nos horaires : Du lundi au vendredi
   de 9h00 à 19h00</p>
 
</footer>