{# se dossier est en relation avec le htmlTemplate qui se trouve dans le dossier SERVICE et le fichier EmailService.php#}
{#Nous pouvons faire du html dans ce dossier d'envoi de message. cela permet d'editer des messages de confirmation d'envoi et de reception de mail #}

<header>
  Emotionnelles
   
</header>

{% block body %}{% endblock %}

   <div class="container" style="color: blue;">
   Bonjour {{ nom}} {{ prenom }}
   Nous accusons bonne réception de votre message.
   Notre service client vous contacteras tres rapidement.

   </div>

<footer 
   <hr>
 
</footer>
