{% extends "email/base.email.twig" %}
{% block body %}

Bonjour {{user.nom}}, <br>
Veuillez cliquer cliquer sur ce lien pour la réinitialisation de votre email: <br>
<a href="{{lien }}"> Réinitialisation de votre mot de passe</a>

{% endblock %}