{# Ce dossier est en relation avec le htmlTemplate qui se trouve dans le dossier SERVICE et le fichier EmailService.php. Nous pouvons faire du html dans ce fichier d'envoi de message. #}

{% extends "email/base.email.twig" %}

{% block body %}

    <p>Bonjour Emotion'elles,</p>

    <br>

    <p>Vous avez une nouvelle réservation de {{ reservation.nom }}</p>

    <br>

    <div>
    
        {# <p>Le :{{reservation.date_reservation}} à {{reservation.heure_reservation}}</p> <br> #}
        Pour le motif suivant :{{ reservation.motif}}   
    
    </div>

{% endblock %}