 {# Ce dossier est en relation avec le htmlTemplate qui se trouve dans le dossier SERVICE et le fichier EmailService.php. Nous pouvons faire du html dans ce dossier d'envoi de message. Cela permet d'éditer des messages de confirmation d'envoi et de reception de mail #}

{% extends "email/base.email.twig" %}

{% block body %}

    <p>Bonjour {{ reservation.nom }}</p>

    <br>

    <p>Nous avons bien pris en compte votre réservation le {{reservation.date_reservation}} à {{reservation.heure_reservation}}</p>

    <br>

    <p>Pour vous rendre à votre rendez-vous : </p>

    <div class="google">

        <a href="https://goo.gl/maps/mG6FibQugRa3bM8cA" target="_blank">
    
            <img src="{{ asset('images/localisation.JPG') }}"/>
    
        </a>
    
    </div> 

    <br>

    <p>Belle journée et à très vite,</p>
    
    <br>
    
    <p>L'équipe Emotion'elles</p>
    
    <br>

{% endblock %}
   
<div class="container" style="color: green; font-size: 30px;">
    <p>Bonjour </p>
    <p>Nous accusons bonne réception de votre message. Notre service client vous contacteras tres rapidement.</p>
</div>

    
  
<footer 
   <hr>
 
</footer>
